<nav>
  <div class="logo">
    <div class="logo-icon">🤖</div>
    <a href="/">
        <div class="logo-text">Resume<span>AI</span></div>
    </a>
  </div>
  <ul>
    <li><a href="#">How it Works</a></li>
    <li><a href="#">Features</a></li>
    <!-- <li><a href="#">Pricing</a></li>
    <li><a href="#">Blog</a></li> -->
  </ul>
  <a href="/upload"><button class="nav-btn">Get Started Free</button></a>
</nav>